@use "variables" as *;
a {
    color: $link-color;
}

#rb-navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rb-navbar-part {
    display: flex;
    align-items: center;
    justify-content: center;
}


.tf-row-home {
    /* stoneroad */
    background: transparent url(/themes/relbib2/images/background_1280.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

.nav-link {
    font-size: 16px;
}

.panel-home {

    display: block;
    min-height: 600px;

    h1 {
        a {
            color: black;
        }
    }

    .control-label {
        color: white;
    }

    ul.nav-pills > li {
        background-color: #495057;
    }

    #searchbox_news {
        padding: 10px; padding-top: 1px;
        color: $brand-primary;
        font-size: 130%;

        a {
            color: $brand-primary;
            text-decoration: underline;
        }
    }

    .searchbox {
        background-color: rgba(255, 255, 255, 0.8);
        margin-top: 40px;
        padding: 0px 20px 15px 20px;

        .title {
            display: block;
            padding-bottom: 20px;
        }
    }
}


#rb-title-table {
    display: flex;

    div {
        padding: 5px 20px 5px 20px;
    }

    a:hover {
        text-decoration: none;
    }
}

#rb-title-table-left {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid black;
    font-size: 400%;
}

#rb-title-table-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 3vw;
    line-height: 1.2;
}

#rb-logo-left {
    color: #a51e37; /* intentionally brighter than $brand-primary */
}

#rb-logo-right {
    color: black;
}

.panel-default, .panel-inverse, .panel-buttons {
   border: 5px solid $brand-primary;
   -webkit-box-shadow: none;
}

.panel-inverse {

    .panel-content {
        h4 {
            text-transform: initial;
        }
    }

    ul {
        a {
            color: white;
            text-decoration: underline;
        }
    }
}

.panel-button a {
    font-size: 1.3em;
}

.rb-news-date {
    font-weight: bold;
}

.rb-footer-supporter {
    padding-bottom: 15px;
}

.rb-survey-results-col1 {
    &:extend(.tf-col-md-6){}
}

.rb-survey-results-col2 {
    &:extend(.tf-col-md-6){
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 14px;
}}

.rb-news-list {
    list-style: none;
    list-style-image: url('/themes/relbib2/images/relbib-newsicon.ico');
}

.rb-news-list ul, .rb-news-list ol {
    list-style: circle;
    list-style-image: initial;
}

/* jqcloud */
div.jqcloud { color: #09f; }
div.jqcloud a { color: inherit; }
div.jqcloud a:hover { color: #a51e37; }
div.jqcloud span.w10 { color: #FF9DB6; }
div.jqcloud span.w9 { color: #F26B84; }
div.jqcloud span.w8 { color: #BF3851; }
div.jqcloud span.w7 { color: #FF9DB6; }
div.jqcloud span.w6 { color: #F26B84; }
div.jqcloud span.w5 { color: #BF3851; }
div.jqcloud span.w4 { color: #FF9DB6; }
div.jqcloud span.w3 { color: #F26B84; }
div.jqcloud span.w2 { color: #BF3851; }
div.jqcloud span.w1 { color: #720004; }

.rb-plr-15 {
    padding: 0 15px;
}

.rb-logo-left{
    color:#a51e37;
}

.rb-news-list-style-none {
    list-style: none;
    padding-left: 20px;
}

.rb-footer-partners-logos > div {
    min-height: 150px;
    text-align: center;
    display: table;
}
.rb-footer-partners-logos > div > a {
    display: table-cell;
    vertical-align: middle;
}
.rb-footer-partners-logos img {
    max-width: 190px;
    max-height: 80px;
}

.rb-panel-home.panel-home {
    min-height: auto;
}

.autocomplete-results {
    max-width: 80% !important;
}

body {
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
#searchForm .nav-tabs {
    margin: 0;
}

#searchForm .nav-pills {
    padding-bottom: 10px;
}

#searchForm .nav-pills li a{
    border-radius: 0;
    background: #495057;
}

#searchForm .nav-pills li a{
    //background: #7b7d84;
}

#searchForm .nav-pills li a:hover{
    background: #fff;
    color: $brand-primary;
    border-radius: 0;
}
/*
#searchForm  .nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.5;
    font-size: 16px;
    color: #333;
    padding: 10px 15px;
}
*/

#searchForm .input-group>.form-control,.input-group>.form-select,.input-group>.form-floating {
    width: 100%;
    min-width: 100%;
}
#searchForm .form-control {
    border-radius: 0;
    height: 38px;
    //box-shadow: 2px 2px 4px #323232;
    font-size: 16px;
    line-height: 1.5;
}
#searchForm .search-button {
    height: 38px;
    padding: 0 16px;
    font-size: 16px;
    line-height: 1.5;
}

#searchForm .tuefind-event-resetsearchhandlers a {
    color: $brand-primary;
    padding: 8px 12px;
}

#searchForm .tuefind-event-resetsearchhandlers a.active {
    color:#555;
}

#header-collapse .nav-link {
    padding:10px 10px;
}
#header-collapse .nav-item .header-link {
    color: #951e37;
    padding: 15px;
    line-height: 24px;
}
.dropdown-toggle::after {
    display: inline-block !important;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-left: .3em solid transparent;
}
.input-group.searchbar #searchForm_lookfor, #searchForm #searchForm_type {
    z-index: 1;
    box-shadow: 2px 2px 4px #323232;
}

.input-group.searchbar #searchForm_lookfor, #searchForm #searchForm_type::placeholder {
    color: #888;
}

.input-group.searchbar .input-group-text {
    margin-left: -37px !important;
    z-index: 2;
    border-radius: 0;
}
.panel-home .btn-primary {
    border-color: #CCC;
}
.btn-primary, .result-formats .format, .label, .result .format, .sidebar .format {
    background: #951e37 !important;
}
.search-button {
    box-shadow: 2px 2px 10px #323232;
    border: 1px solid #ddd;
    min-width: 85px;
}
.tf-background-body {
    background: #951e37;
}

#tf-button-footer-back-to-top {
    position: fixed;
    bottom: 20px;
    z-index: 99;
    outline: none;
    cursor: pointer;
    padding: 10px 15px;
    right: 20px !important;
    background-color: #e2e5e8;
    border: none;
    margin: 0;
    color: $brand-primary;
}

#tf-button-footer-feedback {
    position: fixed;
    bottom: 20px;
    z-index: 99;
    outline: none;
    cursor: pointer;
    padding: 15px;
    left:20px;
    border: none;
    background-color: #e2e5e8;
    color: $brand-primary;
}

#searchForm .nav.nav-pills .dropdown-menu.show li a{
    background-color: #7b7d84;
    color: #fff;
}

#searchForm .nav.nav-pills .dropdown-menu.show li a:hover{
    background-color: #fff;
    color: #323232;
}
