

$template-primary:               #2f78a0;
$template-default:               #555;
$template-breadcrumb:            #7b7d84;

//** Global textual link color.
$link-color:                     darken($template-primary, 3%);

