.main_search_form {
    /*background-color: #eee9dc;*/
}

.panel-home h1 a {
    color: #000;
}

.nav.searchbox > .main_search_form {
    margin: 0 auto;
}

#header-collapse {
    background: none !important;
}