.tf-row-home {
  background: transparent url(/themes/ixtheo2/images/searchbar.jpg) no-repeat;
  background-position: center center;
}

.panel-default, .panel-inverse, .panel-buttons {
  border: 5px solid @tf-background-body-color;
  -webkit-box-shadow: none;
}

.panel-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 300px;

  .searchbox {
    .title {
      display: none;
    }
  }
}

.panel-home h1 a {
    color: #3586b2;
    text-shadow: none;
    font-family: 'Open Sans',Arial,Helvetica,sans-serif;
}
.panel-home small {
    display: block;
    text-align: center;
    margin: 5px 0 auto;
    padding-bottom: 12px;
    color: #495057;
    text-shadow: none;
}

.ix2-searchForm {
  input {
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    height: 48px;
    border-radius: 0 0 0 7px;
  }

  .form-control:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
  }

  .type-dropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    min-width: 180px;
    max-width: 180px;
    height: 48px;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    text-align: right;
  }

  .search-button {
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0;
  }

  .search-button:hover {
    background-color: @brand-primary;
    color: @body-bg;
  }

  .ix-searchbox-adv-search {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    background-color: #fff;
  }
}

/*.navbar-brand:hover {
    color: @body-bg !important;
}*/

.navbar {
  margin-bottom: initial;
  border: none !important;
}

#breadcrumb {
  outline: currentcolor none medium;
}

#tooltips {
  outline: currentcolor none medium;
}

.leaflet-tile-loaded {
  width: 256px;
  height: 256px;
  transform: translate3d(80px, -79px, 0px);
  opacity: 1;
}

.leaflet-zoom-animated {
  transform: translate3d(-73px, -30px, 0px);
}

.leaflet-marker-icon {
  margin-left: -12.5px;
  margin-top: -18.75px;
  width: 25px;
  height: 37.5px;
  transform: translate3d(861495px, -181769px, 0px);
  z-index: -181769;
}

#map.map {
  height: 400px;
  width: 100%;
}

.ol-popup {
  background-color: white;
  padding: 10px;
}

.map-navigation {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: space-between;
}

.map-cooperation {
  color: green;
}

.map-catholic {
  color: black;
}

.map-protestant {
  color: purple;
}

.map-tuebingen {
  color: #a51e37;
}

.networking-image-1 {
  background-image: url(/themes/ixtheo2/images/cw/restaurant-1430931071372-38127bd472b8.jpg);
  min-height: 200px;
}

.networking-image-2 {
  background-image: url(/themes/ixtheo2/images/cw/restaurant-1436018626274-89acd1d6ec9d.jpg);
  min-height: 200px;
}

.networking-image-3 {
  background-image: url(/themes/ixtheo2/images/cw/restaurant-1466978913421-dad2ebd01d17.jpg);
  min-height: 200px;
}

.networking-image-4 {
  background-image: url(/themes/ixtheo2/images/cw/restaurant-1477763858572-cda7deaa9bc5.jpg);
  min-height: 200px;
}

.journals-title {
  color: black;
  font-weight: bold;
}

.logo-font {
  font-size: 28px;
  font-family: 'Open Sans',Arial,Helvetica,sans-serif;
}

.subscriber-textarea {
  resize: none;
}

.kwc_single_term {
  padding:5px;
}

.cw-card.three-links {
    background-color: #e0e0e0;
}

.cw-card.three-links img {
    border-radius: 0.4rem;
}

.cw-card.three-links a {
    display: block !important;
    width: 100% !important;
    position: relative;
    z-index: 20;
    opacity: 0.7;
    margin: 22px 0;
    background-color: #000;
    text-decoration: none;
}

.cw-card.three-links a h6 {
    color:#fff;
    margin-bottom: 42px;
}

.three-links .cw-overlay-content {
    opacity: 1;
}

.slick-prev:before, .slick-next:before {
  color:grey !important;
}

.slick-arrow {
  display: none !important;
}

.home-navbar {
  background-color: lighten(#3586b2, 40%);
  border-radius: 0px;
  border: 0;
  margin-bottom: 0px;
}

.home-navbar li a {
  color: #495057 !important;
}

#pda_place_holder {
  color:grey;
}

#collapseOne {
  height: 0px;
}

.swiper-wrapper {
  transition-duration: 0ms;
  transform: translate3d(-1269.33px, 0px, 0px);
}

#collapseTwo {
  height: 0px;
}

.ix-news-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ix-news-container {
    &:extend(.tf-row);
}

.ix-news-container-footer {
    color: white;
    bottom: 0;
    background-color: #707070;
    width: 100%;
    line-height:26px;
}

.ix-news-panel {
    &:extend(.tf-col-xs-6);
    min-height: 187px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ix-news-panel-1 {
  background-color: #EEEEEE;
  border-radius: 12px 0 0 0;
}
.ix-news-panel-2 {
  background-color: #CCCCCC;
  border-radius: 0 12px 0 0;
}
.ix-news-panel-3 {
  background-color: #CCCCCC;
}
.ix-news-panel-4 {
  background-color: #EEEEEE;
}

@media (max-width: 479px) {
    .ix-news-panel-1 { background-color: #EEEEEE; }
    .ix-news-panel-2 { background-color: #CCCCCC; }
    .ix-news-panel-3 { background-color: #EEEEEE; }
    .ix-news-panel-4 { background-color: #CCCCCC; }
}

.ix-result-links-items {
  display: flex;
  justify-content: flex-end;
}

.ix-result-list-actions {
  vertical-align: top;
}

.ix-footer {
    width: 100%;
    padding: initial;
}

.ix-footer-section {
    padding-top: 2rem;
    padding-bottom: 2rem;

    h5 {
        color: #32414B;
    }
}

.ix-journals-table {
  width: 100%;
}

.ix-journals-table h3 {
  color: black;
  font-weight: bold;
}

.ix-journals-table .img-td {
  width: 25%;
  vertical-align: top;
  padding: 10px;
  text-align: center;
}

.ix-journals-table .text-td {
  padding-left: 10px;
}

.ix-networking-block {
  padding-bottom: 380px;
}

.ix-recommend-link {
  white-space: nowrap;
}

.ix-fixed-width {
  width: 634.667px;
}

.ix-left-32 {
  left: 32px;
}

.ix-width-80 {
  width: 80px;
}

.ix-top-100 {
  top: 100px;
}

.ix-slick-slider-item {
    border-radius: 12px;
}

.ix-news-container-footer {
    margin-top: -24px;
    border-radius: 0 0 12px 12px;
}

.ix-slick-slider-item-title {
    border-radius:0 0 12px 12px;
}

.ix-paddind-left-0 {
  padding-left: 0px;
}

.ix-position-relative {
  position: relative;
}

.ix-font-bold {
  font-weight:bold;
}

.ix-display-flex {
  display: flex;
}

.ix-slick-slider-item {
  height:400px;
  color: white;
  vertical-align: bottom;
  background-size: cover;
}

.ix-slick-slider-item-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #707070;
}

.ix-clear-both {
  clear:both;
}

.ix-display-none {
  display: none;
}

.ix-footer-block {
  display: flex;
  align-items: center;
}

.ix-footer-background-block {
  background-color: #9d9d9d;
}

/* new design ixtheo2 */
/* Only enabled when no touch events are detected */

.parent-bg-attachment {
  height: 380px;
  position: relative;
}
.first-bg-attachment {
  position: absolute;
  z-index: -9996;
  background-image: url(/themes/ixtheo2/images/header_bd_left.png);
  width: 50%;
  height: 100%;
  margin-top: 1px;
}
.last-bg-attachment {
  position: absolute;
  z-index: -9998;
  background-image: url(/themes/ixtheo2/images/header_bd_right.png);
  width: 100%;
  height: 100%;
  margin-top: 1px;
}
.parent-bg-attachment .slave-bg-attachment{
  position: absolute;
  top: 360px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -9995;
  height: 700px;
  width: 1200px;
}
.justify-content-center {
  z-index: 9999;
}
.template-ix2 .panel-home {
  min-height: 380px;
}

.bg-attachment-fixed {
	background-attachment: fixed;
}

.bg-image {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.ix-navbar a{
  color:white;
}

.ix-navbar a.navbar-brand, .ix-navbar nav>.nav>li>a {
  color: #495057;
}

.template-ix2 .bg-attachment-fixed {
  background-image: url(/themes/ixtheo2/images/searchbar.jpg);
  min-height: 450px;
  background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.ix2-z-index9999 {
  z-index: 9999 !important;
}

.template-ix2 .container-fluid >.row{
  background-color: white;
}

/* styles for networking block */
.ix2-networking-block {
  position: relative;
}
.ix2-networking-block .left-bg-networking {
  position: absolute;
  background-image: url(/themes/ixtheo2/images/net_bd_left.png);
  float: left;
  width: 50%;
  height: 100%;
  z-index: 97;
  margin-top: -2px;
}
.ix2-networking-block .center-bg-networking {
  position: absolute;
  background-image: url(/themes/ixtheo2/images/net_bd_center.png);
  width: 1170px;
  height: 100%;
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 98;
  left: 50%;
  top:270px;
  transform: translate(-50%, -50%);
}
.ix2-networking-block .right-bg-networking {
  position: absolute;
  background-image: url(/themes/ixtheo2/images/net_bd_right.png);
  float: left;
  width: 100%;
  height: 100%;
  z-index: 96;
  margin-top: -2px;
}
.sub-title-networking {
  position: relative;
  padding-bottom: 20px;
}
.cw-overlay-content.ixtheo2-networking-block, .cw-overlay-content.sub-nav-networking{
  z-index: 99 !important;
}
.cw-overlay-content.ixtheo2-networking-block {
  padding-bottom: 0px !important;
}

.nav-tabs>li>a {
  background: rgba(235, 230, 227, 0.4) 10%;
}

.bg-attachment-fixed.advancedSearch {
  min-height: 50px !important;
}

.breadcrumb-wrapper.advancedSearch {
  display:none;
}

.main.searchResults .mainbody {
  margin-top:20px;
}

.ix-fixed-top {
  position: fixed;
  top:0;
  width:100%;
  z-index: 999;
}

.footer-menu li a, .footer-menu li a:hover {
  color:#333;
}

ul.footer-menu {
  margin-bottom: 0;
}

.badge {
  background-color: #FFF;
  color: #777;
  font-weight: 400;
  border: 1px solid #ddd;
  max-height: 21px !important;
  line-height: 1 !important;
}

.ixtheo2-mt-6 {
  margin-top: -6px;
}

.ix-networking-block a {
  text-decoration: none;
}

.ixtheo2-networking-link {
  font-family: 'Open Sans',Arial,Helvetica,sans-serif !important;
  margin-top: 0px !important;
}

#header-collapse {
  background: #f8f9fa;
}

.cw-card.three-links img{
  border-radius: 0.4rem;
}
.cw-card.three-links a{
  display: block !important;
  width: 100% !important;
  position: relative;
  z-index: 20;
  opacity: 0.7;
  background-color: #000;
  text-decoration: none;
  height:116px;
}

.cw-card.three-links a.three-links-a {
margin:0;
}

.cw-card.three-links a h6{
  color:#fff;
}
.three-links .cw-overlay-content {
  opacity: 1;
}

.middle-card {
border-top:1px solid #eee;
border-bottom:1px solid #eee;
}

.cw-card.three-links.black-background {
border-radius: 0.4rem;
background-color: #00000085;
}
#image-gallery .modal-dialog {
  width: 1000px; 
  margin-top:200px;
}
/* center align svg elements */
.leaflet-marker-icon {
  text-align: center;
  font-size: 20px;
  vertical-align: middle;
  border: 1px solid #495057;
  border-radius: 15px;
  background-color: #eaedfe;
}

.leaflet-marker-icon i{
  position: relative;
  top:-1px;
}
/*styles for search form*/
.ix2-keyboard-dropdown .dropdown-menu>.active a{
  color: #fff !important;
}
.ix2-searchForm .searchForm-inputs {
  background-color: #fff;
}
.ix2-nomargin.ix2-main-searchForm-type {
  padding-right: 8px !important;
}
.ix2-searchbox-adv-search {
  background-color: #fff;
  padding-top: 4px;
}
.ix2-searchForm-element-height {
  height: 48px;
}
.ix2-searchForm-element-height .form-control, .ix2-searchForm-element-height .btn, .ix2-searchForm-element-height .ix2-searchbox-adv-search{
  height: 100%;
}
.ix2-searchForm #searchForm_type {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  padding-top: 15px;
  cursor: pointer;
  color: #3586B2;
}
.ix2-searchForm #searchForm_type .active{
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}
.ix2-nopadding {
  padding: 0 !important;
}
.ix2-nomargin {
  padding: 0 !important;
}
.ix2-searchForm .searchForm-inputs {
  width: 100%;
}
.ix2-underline {
  text-decoration: underline !important;
}
#header-collapse .dropdown-menu .sub-menu {
  padding-left: 25px;
}

#ui-id-1 {
  display: none;
}

.navigation {
  transition: 0.3s all
}

.navigation .logo-default {
  display: none
}

.navigation .dropdown-toggle::before,.navigation .dropdown-toggle::after {
  display: none
}

.navigation .dropdown-toggle i {
  font-size: 10px;
  margin-left: 2px;
  vertical-align: 2px
}

.navigation .navbar-light .navbar-nav .nav-item .nav-link {
  color: #000;
  font-size: 14px;
  line-height: 26px;
  padding: 20px 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.2s ease-in-out 0s
}

a.black-icon {
  color: #000;
}

.navigation .navbar-light .navbar-nav .nav-item .nav-link:hover,.navigation .navbar-light .navbar-nav .nav-item .nav-link:active,.navigation .navbar-light .navbar-nav .nav-item .nav-link:focus {
  background: none;
  color: #28ABE3
}

.navigation .navbar-light .navbar-nav .nav-item.active .nav-link {
  color: #000 !important;
  margin-top: 20px;
}

.navigation .navbar {
  padding-top: 15px;
}

.navbar-nav {
  list-style: none;
}

.navbar-nav li.nav-item i.fa {
  font-size: 17px;
  vertical-align: 0 !important;
}
.sticky-header {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.06);
  background: #fff;
}

.sticky-header .navbar-light .navbar-nav .nav-item .nav-link {
  color: #000;
}
.sticky-header .logo-white {
  display: none;
}
.sticky-header .logo-default {
  display: block;
}
.navbar-brand {
  height: auto;
  padding: 8px 0;
}
.navbar-brand h1 {
  margin: 0;
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.dark-bg {
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}


.navbar-brand.logo {
  font-size: 25px;
  font-family: "Source Sans Pro", sans-serif;
  color: #000;
  padding-top: 0;
}


.sub-title-networking a {
  position: relative;
  padding-bottom: 20px;
  color: #3586B2 !important;
  font-size: 1.3vw;
}

.sub-title-networking a:hover {
  text-decoration: none;
}

.ixtheo2-networking-link {
  font-weight: 400 !important;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif !important;
  font-size: 2.5vw;
}

.hr-support {
  border-top:1px solid #000;
  width: 230px;
  float: left;
}

.ix2-networking-block .net-main {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom: 0;
  padding:3vw;
}

.ix2-networking-block img {
  width: 100%;
  height: auto;
}