.cl-table-partners {
    border-color: #ddd;

    .cl-td-img {
        width: 25%;
        padding: 10px;
        text-align: center;
        border-color: #ddd;

        img {
            max-width: 100%;
            vertical-align: middle;
        }
    }

    .cl-td-text {
        border-color: #ddd;
        padding: 10px;
    }
}
